:root {
  --white-color:                  #ffffff;
  --primary-color:                #E76F51;
  --secondary-color:              #E9C46A;
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #F4A261;
  --custom-btn-bg-hover-color:    #E76F51;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --link-hover-color:             #E76F51;

  --body-font-family:             'Unbounded', sans-serif;

  --h1-font-size:                 42px;
  --h2-font-size:                 36px;
  --h3-font-size:                 28px;
  --h4-font-size:                 24px;
  --h5-font-size:                 22px;
  --h6-font-size:                 10px;
  --p-font-size:                  16px;
  --menu-font-size:               12px;
  --btn-font-size:                14px;
  --copyright-font-size:          14px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}

@media screen and (max-width:680px){

	#section_1{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  color: var(--secondary-color);
  font-size: 20px;
 
}

/* bingung */
.land{
  margin-top: -30%;
  display: flexbox;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 10px;
  
}


p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  margin-left: 25%;
  margin-right: 25%;
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--white-color);
}





/*---------------------------------------
  CUSTOM LINK              
-----------------------------------------*/
.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: var(--white-color);
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
}

.link--kale::before {
  height: 10px;
  top: 100%;
  opacity: 0;
}

.link--kale:hover::before {
  opacity: 1;
  animation: lineUp 0.3s ease forwards;
}

@keyframes lineUp {
    0% {
      transform-origin: 50% 100%;
      transform: scale3d(1, 0.045, 1);
    }

    50% {
      transform-origin: 50% 100%;
      transform: scale3d(1, 1, 1);
    }

    51% {
      transform-origin: 50% 0%;
      transform: scale3d(1, 1, 1);
    }

    100% {
      transform-origin: 50% 0%;
      transform: scale3d(1, 0.045, 1);
    }
}

.link--kale::after {
    content: '';
    transition: opacity 0.3s;
    opacity: 0;
    transition-delay: 0s;
}

.link--kale:hover::after {
    opacity: 1;
    transition-delay: 0.3s;
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.custom-border-btn:hover {
  background: var(--custom-btn-bg-color);
  border-color: transparent;
  color: var(--white-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.btn-naira {
  padding: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* -webkit-backface-visibility: hidden; */
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn-naira::before {
  content: '';
  position: absolute;
  left: -50%;
  width: 200%;
  height: 200%;
  background: var(--primary-color);
  top: -50%;
  z-index: -1;
  -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
  transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
}

.btn-naira.btn-inverted::before {
  background: var(--primary-color);
}

.btn-naira > span {
  display: block;
  /* vertical-align: middle; */
}

.btn-naira .btn-icon {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: var(--white-color);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.btn-naira > span,
.btn-naira .btn-icon {
  padding: 10px 20px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn-naira:hover::before {
  -webkit-animation: anim-naira-1 0.3s forwards ease-in;
  animation: anim-naira-1 0.3s forwards ease-in;
}

@-webkit-keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}

.btn-naira:hover {
  background-color: var(--primary-color);
  -webkit-transition: background-color 0s 0.3s;
  transition: background-color 0s 0.3s;
}

.btn-naira.btn-inverted:hover {
  background-color: var(--primary-color);
}

.btn-naira:hover .btn-icon {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.btn-naira:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper.is-sticky .navbar {
  background-color: rgba(0, 0, 0, 0.85);
}

.navbar {
  background: transparent;
  z-index: 99;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  display: block;
  color: var(--white-color);
}

.navbar-brand-icon {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  display: inline-block;
  vertical-align: top;
  color: var(--white-color);
  font-size: var(--h6-font-size);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
}

.navbar-brand-icon::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10px;
  right: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent var(--secondary-color) transparent;
  pointer-events: none;
  transform: rotate(65deg);
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.5px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active{
  color: white;
}
.navbar-nav .nav-link.text{
  color: #E76F51;
}
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}
.dropdown .text{
  color: #E76F51;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


/*---------------------------------------
  HERO        
-----------------------------------------*/
/* .hero-section {
  background-image: url('../images/land2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 50px;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.45);
}

.hero-section .row {
  position: relative;
  z-index: 22;
  top: 120px;
} */

.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/land2.jpg), no-repeat center center;
  background-size: cover;
}

/* .cat-item img {
  transition: .5s;
} */



.hero-image {
  position: relative;
  z-index: 2;
  bottom: 100px;
  display: block;
  margin: auto;
}

@media screen and (min-width: 991px) {
  .hero-section {
    height: calc(90vh - 88px);
    padding-top: 350px;
  }
}





/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.contact-section {
  background: var(--custom-btn-bg-color);
  position: relative;
  overflow: hidden;
}

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 450px 450px 0 0;
  border-color: var(--white-color) transparent transparent;
  pointer-events: none;
}

.contact-section .container {
  position: relative;
}

.contact-section p {
  color: var(--white-color);
  font-size: var(--h6-font-size);
}

.contact-link {
  color: var(--white-color);
}

.contact-section .copyright-text {
  font-size: var(--copyright-font-size);
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.65);
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .scrollspy-example-2 .scrollspy-example-item:first-child {
    padding-top: 0;
  }

  .scrollspy-example-item h5 {
    padding-bottom: 5px;
  }

  .book-section-info {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .ebook-download-form {
    padding: 30px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .navbar-brand {
    font-size: var(--p-font-size);
  }

  .navbar-brand-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .navbar-brand-icon::after {
    top: 5px;
  }

  .btn-naira > span, 
  .btn-naira .btn-icon {
    font-size: 12px;
    padding: 5px 15px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: #ededed;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.navbar .dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  top: -10px;
  left: 10px;
}

.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
}

.navbar .dropdown-item.active, 
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus, 
.navbar .dropdown-item:hover {
  background: transparent;
  color: var(--link-hover-color);
}

.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--copyright-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}


@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
}


/*---------------------------------------
  CARD              
-----------------------------------------*/

.profile-img {
  position: relative;
}

.profile-img img {
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.profile-name {
  text-align: center; /* Atur tata letak teks menjadi tengah */
  margin-top: 10px; /* Atur jarak antara teks dengan elemen sekitarnya */
  font-weight: bold; /* Atur tebal teks menjadi tebal */
  margin-bottom: 5px;
}

.profile-work {
  text-align: center; /* Atur tata letak teks menjadi tengah */
  font-weight: lighter; /* Atur tebal teks menjadi tebal */
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

//-----------------//

.img-fluid {
  max-width: 100%;
  height: auto;
}

.button-3 {
  appearance: none;
  background-color: #12a112;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #17c217;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
} 

.bg-secondary {
  background-color: #F2F1F8 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #d2cfe7 !important;
}

.d-flex {
  display: flex;
}

.mr-2, .mx-2 {
  margin-right: 0.5rem !important;
}

h5, h6, .font-weight-medium {
  font-weight: 500 !important;
}


